<?xml version="1.0" encoding="UTF-8"?>

<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
     backupGlobals="false"
     colors="true"
     bootstrap="../../autoload.php"
>

    <testsuites>
        <testsuite name="cachedecorator">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="coverage-html" target="./log/report" charset="UTF-8" highlight="true" />
    </logging>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/Cachedecorator/</directory>
        </whitelist>
    </filter>

</phpunit>